@use 'colors' as *;
@use 'mixins' as *;
@use 'layout' as *;
.blurred-effect{
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(10px);
}

form{
    color: $black; 
    @extend .blurred-effect;
    @include flexbox(column, nowrap, 1rem);
    @include box(600px, auto, 3rem, 30px);
}
    label{
        @include box(100%, auto, 1rem, 60px);
        @include flexbox(row, nowrap, 1rem);
        background-color: #a59e9e;
        
        i{
            @include box(60px, 50px, 0.5rem, 100%);
            @extend .flex-container-center;
            display: flex !important;
            width: 60px;
            background-color: $black;
            color: $white;
        }

        input{
        border: none;
    }


    input {
        @include box(200px, auto, 1rem, 10px);
        background-color: $black;
    }
}